.value_container {
  align-items: baseline;
}

.value_title {
  font-weight: 800;
  margin-right: 10px;
  font-size: 14px;
  width: 150px;
}

.value {
  font-size: 14px;
}

.list_value {
  margin: 0;
  padding: 0 0 0 11px;
}