.sidebar_container {
  width: fit-content;
  background-color: #ffffff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .sidebar_container {
    margin: auto;
  }
}

.filter_title {
  padding: 10px 0;
}

.button_active {
  background-color: #00cc00 !important;
}

.toggle_button_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filter_container {
  margin-bottom: 40px;
}